LOCAL_PATH := $(call my-dir)

include $(CLEAR_VARS)

# LOCAL_MODULE is the name of your app.
LOCAL_MODULE := test-app
# LOCAL_LIBRARIES is the list of libraries your app depends on.
LOCAL_LIBRARIES := libpdraw-backend
# LOCAL_SRC_FILES is the list of source files in your app.
LOCAL_SRC_FILES := main.c

include $(BUILD_EXECUTABLE)
